footer {
    background-color: #44494d;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.form-control-title {
    border: 0px solid;
    width: 200px;
    height: 40px;
}

.active {
    border: 3px solid #ff0000 !important;
}

.alert {
    color: #f70000;
    font-style: italic;
    transition: 0.5s;
}
