footer {
    background-color: #44494d;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.active {
    border: 1px solid #ff0000 !important;
}

#filter {
    position: relative;
    display: inline-block;
    border-width: 1px 1px 1px 1px;
    border-color: #43494d;
    border-style: solid;
    border-radius: 6%;
    padding: 5px 4px 5px 4px;
    color: #43494d;
    cursor: pointer;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 5;
}

#filter:hover .drop-content {
    display: block;
    margin-top: 8px;
    margin-left: -6px;
}

.drop-content p {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.drop-content p:hover {
    background-color: #e9ecef;
}

.selected {
    background-color: #434343 !important;
}

@media (max-width: 575px) {
    #filter {
        top: 74px;
        left: 100px;
    }
}

.card{
    color: #434343;
}
